@import "nullstyle.scss";

body{
    background-color: #e7e7e7;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    gap: 10px;
}

h1{
    font-size: 50px;
    color: #666;
}

h2{
    font-size: 25px;
    color: #666;
}